
{% block stylesheets %}
<style>
body {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background: #fff;
    color: gray;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#titre{
    margin-left: 400px;
}
#gtco-logo {
    margin-left: 45%;
}
.text {
    color : black;
    padding-left: 100px;
     padding-right: 100px;
}
</style>
{% endblock %}
<body>
{% block body %}
 <div id="page">
<div class="row">
                    <div class="col-sm-2 col-xs-12">
                            <img src="{{asset ('images/logo.png') }}" style="width:60px">
                      
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <h3 id="titre"> Contrat de votre commande </h3>
                    </div>
</div>
<div class="row">
       
            <div class="col-sm-2 text-truncate text">
               
                <p> <big>M. / Mme </big> _____________ </p>
                <p><big> Adresse </big> _____________ </p>
                <p>
                
                Paps se charge de prendre des colis sur _________ pour le livrer à __________________, précisément de <br>
                _____________ à __________________.
               <h5> ARTICLE 1 : Obligations de l'expediteur</h5>
               <ul>
                        <li>L’expéditeur s’engage à fournir au voyageur toutes les informations utiles à la bonne
                        exécution de l’acheminement du colis. A ce titre, le client devra fournir au voyageur qui le
                        demande, tout renseignement lui permettant d’avoir, notamment, une bonne connaissance
                        du besoin de l’expéditeur et de l’utilité que le service représente pour lui.</li>
                        <li>L’expéditeur s’engage aussi à collaborer pleinement avec le voyageur en vue du bon
                        déroulement du transport et de la livraison du colis.</li>
                        <li>L’expéditeur s’engage à payer le prix de la prestation pour un montant et dans le(s) délai(s)
                        prévus par le présent contrat.</li>
               </ul>
                <h5>ARTICLE 2 : Delais</h5>
                <ul>
                       <li>Le voyageur s’engage à exécuter sa prestation dans un délai de __________ à compter de la date de
                       signature du présent contrat.</li>
                </ul>
                <h5> ARTICLE 3 : Le paiement</h5>
                
                    Le paiement de la prestation s’effectuera, au choix des 2 parties, par le moyen de paiement suivant :
                    <ul>

                    <li>Paiement cash </li>
                    <li>Paiement par Orange Money</li>
                    </ul>
                    Ainsi, le montant à payer est de : ___________ fr cfa
                
                 </p>

            </div>
            
           


</div>
</div>


{% endblock %}
</body>