{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>

<script>

  // Initialize Firebase

  var config = {

    apiKey: "AIzaSyBYFGdCUsdCEBeEzNG4FFI0756H3lScKTI",

    authDomain: "paps-internal.firebaseapp.com",

    databaseURL: "https://paps-internal.firebaseio.com",

    projectId: "paps-internal",

    storageBucket: "paps-internal.appspot.com",

    messagingSenderId: "407081980027"

  };

  firebase.initializeApp(config);

</script>
<script>
    var databaseRef = firebase.database().ref('Message/');
function Message() {
    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var number = document.getElementById('number').value;
    var text = document.getElementById('text').value;

    var mid = firebase.database().ref().child('Message').push().key;

    var data = {
        msg_id: mid,
        msg_name: name,
        msg_email: email,
        msg_number: number,
        msg_text: text
    }

    var updates = {};
    updates['/messages/'+mid]=data;
    firebase.database().ref().update(updates);
    alert('Votre message a été bien envoyé. Paps vous remércie !!');
    reload_page();

}

function reload_page() {
    window.location='http://localhost/papsprojet/web/app_dev.php/contact';
}

</script>
{{ parent()}}
{% endblock %}

{% block body %}

<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Se faire contacter</h2>
						<p>Nous apprécions énormément les questions sur nos différents offres mais aussi juste pour dire bonjour. Donc n'hésitez pas !</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						     <form role="form" id="form">
								<div class="form-group">
									<label for="name" id="lab" >Nom et prénom </label>
									<input type="text" class="form-control" id="name" name="name" required>
								</div>
								<div class="form-group">
									<label for="email" id="lab">Email Address</label>
									<input type="email" class="form-control" id="email" name="email" required>
								</div>
							     <div class="form-group">
									<label for="tel" id="lab">Numéro téléphone</label>
									<input type="number" class="form-control" id="number" name="numero" required>
								</div>
								<div class="form-group">
									<label for="message" id="lab">Message</label>
									<textarea id="text" cols="30" rows="10" class="form-control" name="text" required></textarea>
								</div>
								<div class="form-group">
								<button type="button" class="btn btn-default submit" onClick="Message()" ><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer</button>
								</div>
							</form>
                        
					</div>
					<div class="col-md-5 col-md-push-1">
						<div class="gtco-contact-info">
							<h3>Nos adresse</h3>
							<p id="lab">Nos locaux sont à Dakar (Sénégal), derrière EMG</p>
							<ul id="labb" >
								<li id="lab">
                <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; Imm. Transfret Rond point EMGxFront de terre.</li>
								<li id="lab"><a href="">
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                    &nbsp;&nbsp;&nbsp; +221-33-825-85-56 / +221-77-675-05-98</a></li>
								<li id="lab">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                 <a href="">&nbsp;&nbsp;&nbsp;www.hello@paps.sn</a></li>
								<li id="lab">
                <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
                <a href="">&nbsp;&nbsp;&nbsp;Hello@paps-app.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}